rdk_3dsim/examples-en/RDKSim_Random_Robot.json
[
    {
        "id": "d6ec82dd960f2fe5",
        "type": "tab",
        "label": "Random3DRobot",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c27e2af07c1b37e6",
        "type": "inject",
        "z": "d6ec82dd960f2fe5",
        "name": "点击",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "4feb948727483ec7"
            ]
        ]
    },
    {
        "id": "4feb948727483ec7",
        "type": "change",
        "z": "d6ec82dd960f2fe5",
        "name": "处理时间戳",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(msg.payload%1000/200)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "6601e43c3fe0c2a5"
            ]
        ]
    },
    {
        "id": "6601e43c3fe0c2a5",
        "type": "switch",
        "z": "d6ec82dd960f2fe5",
        "name": "分支",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 270,
        "y": 60,
        "wires": [
            [
                "f7c0801afd88a93f"
            ],
            [
                "2431a600e87e76f9"
            ],
            [
                "6934458308ba1a15"
            ],
            [
                "d49e9ebc68c6cb45"
            ],
            [
                "6e4fb69e13ee644b"
            ],
            [
                "5c0c9d4a623b4ead"
            ]
        ]
    },
    {
        "id": "f7c0801afd88a93f",
        "type": "change",
        "z": "d6ec82dd960f2fe5",
        "name": "走路",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Walking",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 40,
        "wires": [
            [
                "8e4e20db8ec4be9e"
            ]
        ]
    },
    {
        "id": "2431a600e87e76f9",
        "type": "change",
        "z": "d6ec82dd960f2fe5",
        "name": "跑步",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Running",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 80,
        "wires": [
            [
                "8e4e20db8ec4be9e"
            ]
        ]
    },
    {
        "id": "6934458308ba1a15",
        "type": "change",
        "z": "d6ec82dd960f2fe5",
        "name": "跳舞",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Dance",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 120,
        "wires": [
            [
                "8e4e20db8ec4be9e"
            ]
        ]
    },
    {
        "id": "d49e9ebc68c6cb45",
        "type": "change",
        "z": "d6ec82dd960f2fe5",
        "name": "装死",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Death",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 160,
        "wires": [
            [
                "8e4e20db8ec4be9e"
            ]
        ]
    },
    {
        "id": "6e4fb69e13ee644b",
        "type": "change",
        "z": "d6ec82dd960f2fe5",
        "name": "坐下",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Sitting",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 200,
        "wires": [
            [
                "8e4e20db8ec4be9e"
            ]
        ]
    },
    {
        "id": "5c0c9d4a623b4ead",
        "type": "change",
        "z": "d6ec82dd960f2fe5",
        "name": "站立",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Standing",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "8e4e20db8ec4be9e"
            ]
        ]
    },
    {
        "id": "8e4e20db8ec4be9e",
        "type": "rdk-3d 3drobot",
        "z": "d6ec82dd960f2fe5",
        "name": "",
        "x": 560,
        "y": 80,
        "wires": []
    }
]