alibaba_llms/examples-en/LLM_QwenVision_Basic.json
[
    {
        "id": "7ebbcbd2a4628a62",
        "type": "tab",
        "label": "LLMQwenVisionBasic",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e3580b85e8a995f0",
        "type": "comment",
        "z": "7ebbcbd2a4628a62",
        "name": "Please apply API Key first!",
        "info": "",
        "x": 150,
        "y": 40,
        "wires": []
    },
    {
        "id": "a0898174cdeaafb1",
        "type": "comment",
        "z": "7ebbcbd2a4628a62",
        "name": "Step 1: Take a photo",
        "info": "",
        "x": 130,
        "y": 140,
        "wires": []
    },
    {
        "id": "abcf88a37ebb92b9",
        "type": "comment",
        "z": "7ebbcbd2a4628a62",
        "name": "Step 2: Ask questions about picture",
        "info": "",
        "x": 180,
        "y": 300,
        "wires": []
    },
    {
        "id": "4fa5b7eee620711b",
        "type": "inject",
        "z": "7ebbcbd2a4628a62",
        "name": "Shutter",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "d002dd2c01cdb35c"
            ]
        ]
    },
    {
        "id": "d002dd2c01cdb35c",
        "type": "rdk-camera takephoto",
        "z": "7ebbcbd2a4628a62",
        "cameratype": "1",
        "filemode": "2",
        "filename": "",
        "filedefpath": "1",
        "filepath": "",
        "fileformat": "jpeg",
        "resolution": "2",
        "rotation": "0",
        "fliph": "0",
        "flipv": "0",
        "brightness": "50",
        "contrast": "0",
        "sharpness": "0",
        "quality": "80",
        "imageeffect": "none",
        "exposuremode": "auto",
        "iso": "0",
        "agcwait": "1.0",
        "led": "0",
        "awb": "auto",
        "name": "",
        "x": 310,
        "y": 200,
        "wires": [
            [
                "8b31d890aa16a2d0"
            ]
        ]
    },
    {
        "id": "8b31d890aa16a2d0",
        "type": "jimp-image",
        "z": "7ebbcbd2a4628a62",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "b64",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "image",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 550,
        "y": 160,
        "wires": [
            [
                "495a63105a9298ec",
                "11d7a9f896f14187"
            ]
        ]
    },
    {
        "id": "495a63105a9298ec",
        "type": "image viewer",
        "z": "7ebbcbd2a4628a62",
        "name": "",
        "width": "320",
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 590,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "11d7a9f896f14187",
        "type": "alibaba-llms QwenVision",
        "z": "7ebbcbd2a4628a62",
        "name": "",
        "apikey": "",
        "x": 490,
        "y": 280,
        "wires": [
            [
                "3de7b200daca24de",
                "be417ac977abc580"
            ]
        ]
    },
    {
        "id": "3de7b200daca24de",
        "type": "debug",
        "z": "7ebbcbd2a4628a62",
        "name": "Output result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 360,
        "wires": []
    },
    {
        "id": "be417ac977abc580",
        "type": "rdk-tools texttoaudio",
        "z": "7ebbcbd2a4628a62",
        "name": "",
        "x": 490,
        "y": 420,
        "wires": []
    },
    {
        "id": "3df3bd2efd1a2117",
        "type": "inject",
        "z": "7ebbcbd2a4628a62",
        "name": "Is there any cell phone in the photo?",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Is there any cell phone in the photo?",
        "payloadType": "str",
        "x": 220,
        "y": 360,
        "wires": [
            [
                "11d7a9f896f14187"
            ]
        ]
    },
    {
        "id": "06a979fde144892f",
        "type": "inject",
        "z": "7ebbcbd2a4628a62",
        "name": "What does this picture show?",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "What does this picture show?",
        "payloadType": "str",
        "x": 200,
        "y": 420,
        "wires": [
            [
                "11d7a9f896f14187"
            ]
        ]
    },
    {
        "id": "3e6b5070174e74b7",
        "type": "inject",
        "z": "7ebbcbd2a4628a62",
        "name": "How to apply API Key?",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "https://help.aliyun.com/zh/model-studio/get-api-key",
        "payloadType": "str",
        "x": 180,
        "y": 80,
        "wires": [
            [
                "1c2b475c621b0333"
            ]
        ]
    },
    {
        "id": "1c2b475c621b0333",
        "type": "rdk-tools openurl",
        "z": "7ebbcbd2a4628a62",
        "name": "",
        "x": 400,
        "y": 80,
        "wires": []
    }
]