rdk_tools/examples-en/tros/TROS_Detection02_YOLO.json
[
    {
        "id": "12968d8e6d293d36",
        "type": "tab",
        "label": "TROS YOLO (Object Detection)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "066503b3d6970aa6",
        "type": "group",
        "z": "12968d8e6d293d36",
        "name": "Smart update",
        "style": {
            "fill": "#ffffbf",
            "fill-opacity": "0.46",
            "label": true
        },
        "nodes": [
            "03ec710ce15011c6",
            "3cce5b544cb1dc11",
            "4c2aae306b973fa7"
        ],
        "x": 334,
        "y": 79,
        "w": 592,
        "h": 82
    },
    {
        "id": "87e48fcb4b3e5624",
        "type": "group",
        "z": "12968d8e6d293d36",
        "name": "Check and execute YOLO node",
        "style": {
            "label": true,
            "fill": "#e3f3d3",
            "fill-opacity": "0.5"
        },
        "nodes": [
            "51a3eed1b6416649",
            "0ad500d26f951360"
        ],
        "x": 394,
        "y": 199,
        "w": 412,
        "h": 82
    },
    {
        "id": "33b8054c1430e801",
        "type": "group",
        "z": "12968d8e6d293d36",
        "name": "YOLO visualization",
        "style": {
            "fill": "#bfdbef",
            "fill-opacity": "0.47",
            "label": true
        },
        "nodes": [
            "18eb2475bde9ce88",
            "af06295e01463bcb",
            "6e7f9e0660da2756"
        ],
        "x": 174,
        "y": 319,
        "w": 372,
        "h": 122
    },
    {
        "id": "4137f3de5dcb592d",
        "type": "comment",
        "z": "12968d8e6d293d36",
        "name": "Name: TROS Object Detection YOLO",
        "info": "",
        "x": 190,
        "y": 40,
        "wires": []
    },
    {
        "id": "662ac22051cef124",
        "type": "inject",
        "z": "12968d8e6d293d36",
        "name": "Learn More",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "https://developer.d-robotics.cc/rdk_doc/Robot_development/boxs/detection/yolo",
        "payloadType": "str",
        "x": 470,
        "y": 40,
        "wires": [
            [
                "3321799fc3b4092b"
            ]
        ]
    },
    {
        "id": "3321799fc3b4092b",
        "type": "rdk-tools openurl",
        "z": "12968d8e6d293d36",
        "name": "",
        "x": 680,
        "y": 40,
        "wires": []
    },
    {
        "id": "03ec710ce15011c6",
        "type": "rdk-tools smartupdate",
        "z": "12968d8e6d293d36",
        "g": "066503b3d6970aa6",
        "name": "",
        "x": 440,
        "y": 120,
        "wires": [
            [
                "3cce5b544cb1dc11"
            ],
            []
        ]
    },
    {
        "id": "3cce5b544cb1dc11",
        "type": "change",
        "z": "12968d8e6d293d36",
        "g": "066503b3d6970aa6",
        "name": "Update hint",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "智能更新已完成",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 120,
        "wires": [
            [
                "4c2aae306b973fa7"
            ]
        ]
    },
    {
        "id": "4c2aae306b973fa7",
        "type": "rdk-tools texttoaudio",
        "z": "12968d8e6d293d36",
        "g": "066503b3d6970aa6",
        "name": "",
        "x": 830,
        "y": 120,
        "wires": []
    },
    {
        "id": "b76495f50b4965fc",
        "type": "comment",
        "z": "12968d8e6d293d36",
        "name": "Notice: Please choose compatible cam type!",
        "info": "",
        "x": 190,
        "y": 200,
        "wires": []
    },
    {
        "id": "411e6a11f2121bd5",
        "type": "inject",
        "z": "12968d8e6d293d36",
        "name": "Start(USB Cam)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "camera",
                "v": "usb",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "iso",
        "payloadType": "date",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "51a3eed1b6416649",
                "18eb2475bde9ce88"
            ]
        ]
    },
    {
        "id": "0406a4b83c9aa49d",
        "type": "inject",
        "z": "12968d8e6d293d36",
        "name": "Start(MIPI Cam)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "mipi",
        "payload": "iso",
        "payloadType": "date",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "51a3eed1b6416649",
                "18eb2475bde9ce88"
            ]
        ]
    },
    {
        "id": "91c6db8938234092",
        "type": "inject",
        "z": "12968d8e6d293d36",
        "name": "Stop",
        "props": [
            {
                "p": "kill",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "0ad500d26f951360"
            ]
        ]
    },
    {
        "id": "9e8695d324cb5778",
        "type": "comment",
        "z": "12968d8e6d293d36",
        "name": "Notice: Please stop flow before closing the flow.",
        "info": "",
        "x": 200,
        "y": 280,
        "wires": []
    },
    {
        "id": "51a3eed1b6416649",
        "type": "change",
        "z": "12968d8e6d293d36",
        "g": "87e48fcb4b3e5624",
        "name": "Set YOLO Node",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "launch",
                "pt": "msg",
                "to": "dnn_node_example dnn_node_example.launch.py dnn_example_config_file:=config/yolov2workconfig.json dnn_example_image_width:=480 dnn_example_image_height:=272",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "insert",
                "pt": "msg",
                "to": "$join(['export CAM_TYPE=', msg.camera])",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 240,
        "wires": [
            [
                "0ad500d26f951360"
            ]
        ]
    },
    {
        "id": "0ad500d26f951360",
        "type": "rdk-tools checkexecute",
        "z": "12968d8e6d293d36",
        "g": "87e48fcb4b3e5624",
        "name": "",
        "x": 690,
        "y": 240,
        "wires": [
            [
                "c429380e158b52d9"
            ],
            [
                "ad5152297f9bdf3a"
            ]
        ]
    },
    {
        "id": "c429380e158b52d9",
        "type": "debug",
        "z": "12968d8e6d293d36",
        "name": "Hint",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 220,
        "wires": []
    },
    {
        "id": "ad5152297f9bdf3a",
        "type": "debug",
        "z": "12968d8e6d293d36",
        "name": "Error Hint",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 260,
        "wires": []
    },
    {
        "id": "d3e2311eaa0e99c2",
        "type": "debug",
        "z": "12968d8e6d293d36",
        "name": "Result output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 360,
        "wires": []
    },
    {
        "id": "8032c5cc644bd0e1",
        "type": "debug",
        "z": "12968d8e6d293d36",
        "name": "Performance output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 400,
        "wires": []
    },
    {
        "id": "18eb2475bde9ce88",
        "type": "delay",
        "z": "12968d8e6d293d36",
        "g": "33b8054c1430e801",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 260,
        "y": 360,
        "wires": [
            [
                "af06295e01463bcb"
            ]
        ]
    },
    {
        "id": "af06295e01463bcb",
        "type": "change",
        "z": "12968d8e6d293d36",
        "g": "33b8054c1430e801",
        "name": "set link",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ws://{host}:8080",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 400,
        "wires": [
            [
                "6e7f9e0660da2756"
            ]
        ]
    },
    {
        "id": "6e7f9e0660da2756",
        "type": "rdk-tools videows",
        "z": "12968d8e6d293d36",
        "g": "33b8054c1430e801",
        "name": "",
        "fps": "4",
        "width": 640,
        "active": true,
        "x": 440,
        "y": 380,
        "wires": [
            [
                "d3e2311eaa0e99c2",
                "1da759fbe0b452d2"
            ],
            [
                "8032c5cc644bd0e1"
            ],
            []
        ]
    },
    {
        "id": "a9c76c4231a1dab6",
        "type": "inject",
        "z": "12968d8e6d293d36",
        "name": "Update",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "03ec710ce15011c6"
            ]
        ]
    },
    {
        "id": "bd52bc683bd9011d",
        "type": "inject",
        "z": "12968d8e6d293d36",
        "name": "Open visualization",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "http://{host}:8000",
        "payloadType": "str",
        "x": 710,
        "y": 320,
        "wires": [
            [
                "70056de687e7b374"
            ]
        ]
    },
    {
        "id": "70056de687e7b374",
        "type": "rdk-tools openurl",
        "z": "12968d8e6d293d36",
        "name": "",
        "x": 900,
        "y": 320,
        "wires": []
    },
    {
        "id": "1da759fbe0b452d2",
        "type": "change",
        "z": "12968d8e6d293d36",
        "name": "Extract types",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "attributes.type",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 480,
        "wires": [
            [
                "f4c7a8104681b21e"
            ]
        ]
    },
    {
        "id": "f4c7a8104681b21e",
        "type": "rdk-tools output",
        "z": "12968d8e6d293d36",
        "name": "",
        "active": true,
        "x": 140,
        "y": 520,
        "wires": []
    }
]