rdk_tools/examples-en/tros/TROS_Detection01_FCOS.json
[
    {
        "id": "41bd393e9b93f02f",
        "type": "tab",
        "label": "TROS FCOS (Object Detection)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cb01c990e53afb60",
        "type": "group",
        "z": "41bd393e9b93f02f",
        "name": "Smart Update",
        "style": {
            "fill": "#ffffbf",
            "fill-opacity": "0.46",
            "label": true
        },
        "nodes": [
            "3dcace4b163bc682",
            "71f59c4d4b715a11",
            "f12cfad3b74b3321"
        ],
        "x": 334,
        "y": 79,
        "w": 592,
        "h": 82
    },
    {
        "id": "f4c4361755ae5c67",
        "type": "group",
        "z": "41bd393e9b93f02f",
        "name": "Check and execute FCOS node",
        "style": {
            "fill": "#e3f3d3",
            "fill-opacity": "0.51",
            "label": true
        },
        "nodes": [
            "868b2da5ad39c31d",
            "4e0b61b0441c2a2a"
        ],
        "x": 414,
        "y": 199,
        "w": 432,
        "h": 82
    },
    {
        "id": "7990eae8ec566482",
        "type": "group",
        "z": "41bd393e9b93f02f",
        "name": "FCOS visualization",
        "style": {
            "fill": "#bfdbef",
            "fill-opacity": "0.47",
            "label": true
        },
        "nodes": [
            "7f36299e8dc30fdb",
            "b97878a7a2096c59",
            "fbf750e466027ace"
        ],
        "x": 154,
        "y": 319,
        "w": 352,
        "h": 122
    },
    {
        "id": "a0af2a1299b4cb0b",
        "type": "comment",
        "z": "41bd393e9b93f02f",
        "name": "Name: TROS Object Detection FCOS",
        "info": "",
        "x": 190,
        "y": 40,
        "wires": []
    },
    {
        "id": "84c9be578cfe4b20",
        "type": "comment",
        "z": "41bd393e9b93f02f",
        "name": "Notice: Please choose compatible cam type!",
        "info": "",
        "x": 190,
        "y": 200,
        "wires": []
    },
    {
        "id": "6c30b23e940d3fb7",
        "type": "inject",
        "z": "41bd393e9b93f02f",
        "name": "Learn More",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "https://developer.d-robotics.cc/rdk_doc/Robot_development/boxs/detection/fcos",
        "payloadType": "str",
        "x": 490,
        "y": 40,
        "wires": [
            [
                "dc47b3f5014a51ef"
            ]
        ]
    },
    {
        "id": "dc47b3f5014a51ef",
        "type": "rdk-tools openurl",
        "z": "41bd393e9b93f02f",
        "name": "",
        "x": 700,
        "y": 40,
        "wires": []
    },
    {
        "id": "e724db9829d49ab9",
        "type": "inject",
        "z": "41bd393e9b93f02f",
        "name": "Start(USB Cam)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "camera",
                "v": "usb",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "iso",
        "payloadType": "date",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "868b2da5ad39c31d",
                "7f36299e8dc30fdb"
            ]
        ]
    },
    {
        "id": "754087505cbc434b",
        "type": "inject",
        "z": "41bd393e9b93f02f",
        "name": "Start(MIPI Cam)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "mipi",
        "payload": "iso",
        "payloadType": "date",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "868b2da5ad39c31d",
                "7f36299e8dc30fdb"
            ]
        ]
    },
    {
        "id": "3dcace4b163bc682",
        "type": "rdk-tools smartupdate",
        "z": "41bd393e9b93f02f",
        "g": "cb01c990e53afb60",
        "name": "",
        "x": 440,
        "y": 120,
        "wires": [
            [
                "71f59c4d4b715a11"
            ],
            []
        ]
    },
    {
        "id": "71f59c4d4b715a11",
        "type": "change",
        "z": "41bd393e9b93f02f",
        "g": "cb01c990e53afb60",
        "name": "Update hint",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Update complete",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 120,
        "wires": [
            [
                "f12cfad3b74b3321"
            ]
        ]
    },
    {
        "id": "f12cfad3b74b3321",
        "type": "rdk-tools texttoaudio",
        "z": "41bd393e9b93f02f",
        "g": "cb01c990e53afb60",
        "name": "",
        "x": 830,
        "y": 120,
        "wires": []
    },
    {
        "id": "868b2da5ad39c31d",
        "type": "change",
        "z": "41bd393e9b93f02f",
        "g": "f4c4361755ae5c67",
        "name": "Set FCOS Node",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "launch",
                "pt": "msg",
                "to": "dnn_node_example dnn_node_example.launch.py dnn_example_config_file:=config/fcosworkconfig.json dnn_example_image_width:=480 dnn_example_image_height:=272",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "insert",
                "pt": "msg",
                "to": "$join(['export CAM_TYPE=', msg.camera])",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 240,
        "wires": [
            [
                "4e0b61b0441c2a2a"
            ]
        ]
    },
    {
        "id": "4e0b61b0441c2a2a",
        "type": "rdk-tools checkexecute",
        "z": "41bd393e9b93f02f",
        "g": "f4c4361755ae5c67",
        "name": "",
        "x": 730,
        "y": 240,
        "wires": [
            [
                "d44e16c8b177c020"
            ],
            [
                "75ca2b13e5113dc2"
            ]
        ]
    },
    {
        "id": "d44e16c8b177c020",
        "type": "debug",
        "z": "41bd393e9b93f02f",
        "name": "Hint",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 220,
        "wires": []
    },
    {
        "id": "75ca2b13e5113dc2",
        "type": "debug",
        "z": "41bd393e9b93f02f",
        "name": "Error Hint",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 260,
        "wires": []
    },
    {
        "id": "20132bee7476989a",
        "type": "inject",
        "z": "41bd393e9b93f02f",
        "name": "Close",
        "props": [
            {
                "p": "kill",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "4e0b61b0441c2a2a"
            ]
        ]
    },
    {
        "id": "3caad0dafed3124b",
        "type": "comment",
        "z": "41bd393e9b93f02f",
        "name": "Notice: Please stop flow before closing the flow.",
        "info": "",
        "x": 200,
        "y": 280,
        "wires": []
    },
    {
        "id": "7f36299e8dc30fdb",
        "type": "delay",
        "z": "41bd393e9b93f02f",
        "g": "7990eae8ec566482",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 240,
        "y": 360,
        "wires": [
            [
                "b97878a7a2096c59"
            ]
        ]
    },
    {
        "id": "b97878a7a2096c59",
        "type": "change",
        "z": "41bd393e9b93f02f",
        "g": "7990eae8ec566482",
        "name": "set link",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ws://{host}:8080",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 400,
        "wires": [
            [
                "fbf750e466027ace"
            ]
        ]
    },
    {
        "id": "975203282da7bef8",
        "type": "debug",
        "z": "41bd393e9b93f02f",
        "name": "Result output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 360,
        "wires": []
    },
    {
        "id": "6b453c4c4953b34f",
        "type": "debug",
        "z": "41bd393e9b93f02f",
        "name": "Performance output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 400,
        "wires": []
    },
    {
        "id": "2c8983ad195d6889",
        "type": "inject",
        "z": "41bd393e9b93f02f",
        "name": "Update",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "3dcace4b163bc682"
            ]
        ]
    },
    {
        "id": "a5f5e623839368d3",
        "type": "rdk-tools openurl",
        "z": "41bd393e9b93f02f",
        "name": "",
        "x": 900,
        "y": 320,
        "wires": []
    },
    {
        "id": "ef78cfefcc74efdc",
        "type": "inject",
        "z": "41bd393e9b93f02f",
        "name": "Open visualization Page",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "http://{host}:8000",
        "payloadType": "str",
        "x": 680,
        "y": 320,
        "wires": [
            [
                "a5f5e623839368d3"
            ]
        ]
    },
    {
        "id": "fbf750e466027ace",
        "type": "rdk-tools videows",
        "z": "41bd393e9b93f02f",
        "g": "7990eae8ec566482",
        "name": "",
        "fps": "2",
        "width": 640,
        "active": true,
        "x": 400,
        "y": 380,
        "wires": [
            [
                "975203282da7bef8",
                "f910c04de6db2536"
            ],
            [
                "6b453c4c4953b34f"
            ],
            []
        ]
    },
    {
        "id": "f910c04de6db2536",
        "type": "change",
        "z": "41bd393e9b93f02f",
        "name": "Extract types",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "attributes.type",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 480,
        "wires": [
            [
                "17d8c38b6c59f970"
            ]
        ]
    },
    {
        "id": "17d8c38b6c59f970",
        "type": "rdk-tools output",
        "z": "41bd393e9b93f02f",
        "name": "",
        "active": true,
        "x": 180,
        "y": 520,
        "wires": []
    }
]