rdk_tools/examples/basics/Basic_example01_Models_and_Outputs.json
[
    {
        "id": "4b0bd5e4173a4516",
        "type": "tab",
        "label": "Basic Models and Outputs",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a1a61ea62b1ff463",
        "type": "inject",
        "z": "4b0bd5e4173a4516",
        "name": "运行",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "fc8dbc67f529db48"
            ]
        ]
    },
    {
        "id": "fc8dbc67f529db48",
        "type": "exec",
        "z": "4b0bd5e4173a4516",
        "command": "cd /app/pydev_demo/01_basic_sample && python test_googlenet.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "GoogleNet",
        "x": 330,
        "y": 220,
        "wires": [
            [
                "379a850cbb055097"
            ],
            [
                "4cd0e13e6b75b365"
            ],
            [
                "696d5949cf00db30"
            ]
        ]
    },
    {
        "id": "379a850cbb055097",
        "type": "debug",
        "z": "4b0bd5e4173a4516",
        "name": "标准输出",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 460,
        "wires": []
    },
    {
        "id": "4cd0e13e6b75b365",
        "type": "debug",
        "z": "4b0bd5e4173a4516",
        "name": "标准错误输出",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 520,
        "wires": []
    },
    {
        "id": "696d5949cf00db30",
        "type": "debug",
        "z": "4b0bd5e4173a4516",
        "name": "返回码",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 580,
        "wires": []
    },
    {
        "id": "be0efe092130d0f6",
        "type": "exec",
        "z": "4b0bd5e4173a4516",
        "command": "cd /app/pydev_demo/01_basic_sample && python test_vargconvnet.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "VargconvNet",
        "x": 330,
        "y": 340,
        "wires": [
            [
                "379a850cbb055097"
            ],
            [
                "4cd0e13e6b75b365"
            ],
            [
                "696d5949cf00db30"
            ]
        ]
    },
    {
        "id": "c17c2ce9435a9987",
        "type": "inject",
        "z": "4b0bd5e4173a4516",
        "name": "运行",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "be0efe092130d0f6"
            ]
        ]
    },
    {
        "id": "74cbf9b0ed6b5af6",
        "type": "inject",
        "z": "4b0bd5e4173a4516",
        "name": "运行",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 110,
        "y": 460,
        "wires": [
            [
                "54d7c7459b5d8dca"
            ]
        ]
    },
    {
        "id": "54d7c7459b5d8dca",
        "type": "exec",
        "z": "4b0bd5e4173a4516",
        "command": "cd /app/pydev_demo/01_basic_sample && python test_mobilenetv1.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "MobileNetV1",
        "x": 330,
        "y": 460,
        "wires": [
            [
                "379a850cbb055097"
            ],
            [
                "4cd0e13e6b75b365"
            ],
            [
                "696d5949cf00db30"
            ]
        ]
    },
    {
        "id": "3e73c30da0a85e11",
        "type": "inject",
        "z": "4b0bd5e4173a4516",
        "name": "运行",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 110,
        "y": 580,
        "wires": [
            [
                "1ceb4b9604c08a39"
            ]
        ]
    },
    {
        "id": "1ceb4b9604c08a39",
        "type": "exec",
        "z": "4b0bd5e4173a4516",
        "command": "cd /app/pydev_demo/01_basic_sample && python test_efficientnasnet_m.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "EfficientNasNet_M",
        "x": 350,
        "y": 580,
        "wires": [
            [
                "379a850cbb055097"
            ],
            [
                "4cd0e13e6b75b365"
            ],
            [
                "696d5949cf00db30"
            ]
        ]
    },
    {
        "id": "75a686213ac79ee8",
        "type": "inject",
        "z": "4b0bd5e4173a4516",
        "name": "运行",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 110,
        "y": 700,
        "wires": [
            [
                "68da98fa011f8379"
            ]
        ]
    },
    {
        "id": "68da98fa011f8379",
        "type": "exec",
        "z": "4b0bd5e4173a4516",
        "command": "cd /app/pydev_demo/01_basic_sample && python test_efficientnet_lite4.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "EfficientNet_Lite4",
        "x": 350,
        "y": 700,
        "wires": [
            [
                "379a850cbb055097"
            ],
            [
                "4cd0e13e6b75b365"
            ],
            [
                "696d5949cf00db30"
            ]
        ]
    },
    {
        "id": "16670be4ce08bebe",
        "type": "inject",
        "z": "4b0bd5e4173a4516",
        "name": "运行",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 110,
        "y": 820,
        "wires": [
            [
                "2072daf82900fa16"
            ]
        ]
    },
    {
        "id": "2072daf82900fa16",
        "type": "exec",
        "z": "4b0bd5e4173a4516",
        "command": "cd /app/pydev_demo/01_basic_sample && python test_resnet18.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Resnet18",
        "x": 320,
        "y": 820,
        "wires": [
            [
                "379a850cbb055097"
            ],
            [
                "4cd0e13e6b75b365"
            ],
            []
        ]
    },
    {
        "id": "af4590368b388479",
        "type": "comment",
        "z": "4b0bd5e4173a4516",
        "name": "名称：基本示例，模型与输出",
        "info": "",
        "x": 160,
        "y": 20,
        "wires": []
    },
    {
        "id": "f2c2d68bcbb56a8b",
        "type": "comment",
        "z": "4b0bd5e4173a4516",
        "name": "注意：需要安装rdk-tools和image-tools",
        "info": "",
        "x": 470,
        "y": 20,
        "wires": []
    },
    {
        "id": "adb3e8c1199b1245",
        "type": "inject",
        "z": "4b0bd5e4173a4516",
        "name": "查看说明",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "https://developer.horizon.cc/documents_rdk/python_development/pydev_dnn_demo/static_image",
        "payloadType": "str",
        "x": 720,
        "y": 20,
        "wires": [
            [
                "96d6375fe3144014"
            ]
        ]
    },
    {
        "id": "96d6375fe3144014",
        "type": "rdk-tools openurl",
        "z": "4b0bd5e4173a4516",
        "name": "",
        "x": 880,
        "y": 20,
        "wires": []
    },
    {
        "id": "edb08c0bc471d40a",
        "type": "inject",
        "z": "4b0bd5e4173a4516",
        "name": "查看图片",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "/app/pydev_demo/01_basic_sample/zebra_cls.jpg",
        "payloadType": "str",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "a4b2840fc9b9545a"
            ]
        ]
    },
    {
        "id": "a4b2840fc9b9545a",
        "type": "jimp-image",
        "z": "4b0bd5e4173a4516",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {},
        "x": 330,
        "y": 100,
        "wires": [
            [
                "63e094b464385474"
            ]
        ]
    },
    {
        "id": "63e094b464385474",
        "type": "image viewer",
        "z": "4b0bd5e4173a4516",
        "name": "",
        "width": "240",
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 590,
        "y": 100,
        "wires": [
            []
        ]
    }
]