rdk_tools/examples/tros/TROS_Detection03_MobileNetSSD.json
[
    {
        "id": "5143258bfe846b74",
        "type": "tab",
        "label": "TROS MobileNet SSD (Object Detection)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c7a1aee6a76cadd9",
        "type": "group",
        "z": "5143258bfe846b74",
        "name": "软件包智能更新",
        "style": {
            "fill": "#ffffbf",
            "fill-opacity": "0.46",
            "label": true
        },
        "nodes": [
            "82f33478063682f1",
            "52f0550f586ca9ec",
            "357da92b25b02598"
        ],
        "x": 334,
        "y": 79,
        "w": 572,
        "h": 82
    },
    {
        "id": "d96336254aef9b25",
        "type": "group",
        "z": "5143258bfe846b74",
        "name": "检查及运行MobileNet",
        "style": {
            "fill": "#e3f3d3",
            "fill-opacity": "0.5",
            "label": true
        },
        "nodes": [
            "465e36742a771514",
            "c2f219b232bd471e"
        ],
        "x": 354,
        "y": 199,
        "w": 412,
        "h": 82
    },
    {
        "id": "dbd729cc140b046b",
        "type": "group",
        "z": "5143258bfe846b74",
        "name": "MobileNet结果展示",
        "style": {
            "fill": "#bfdbef",
            "fill-opacity": "0.47",
            "label": true
        },
        "nodes": [
            "7dcabb5cd3f8f445",
            "39d2df28ca781482",
            "1769fc2cb54323ae"
        ],
        "x": 154,
        "y": 319,
        "w": 372,
        "h": 122
    },
    {
        "id": "503d2e4255388c64",
        "type": "comment",
        "z": "5143258bfe846b74",
        "name": "名称：TROS目标检测 MobileNet SSD",
        "info": "",
        "x": 210,
        "y": 40,
        "wires": []
    },
    {
        "id": "7a81faa31c119160",
        "type": "inject",
        "z": "5143258bfe846b74",
        "name": "了解更多",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "https://developer.horizon.cc/documents_tros/boxs/detection/mobilenet",
        "payloadType": "str",
        "x": 500,
        "y": 40,
        "wires": [
            [
                "f4a25aaa4bff6738"
            ]
        ]
    },
    {
        "id": "f4a25aaa4bff6738",
        "type": "rdk-tools openurl",
        "z": "5143258bfe846b74",
        "name": "",
        "x": 680,
        "y": 40,
        "wires": []
    },
    {
        "id": "32803ce27e16ef51",
        "type": "comment",
        "z": "5143258bfe846b74",
        "name": "注意：选择对应的摄像头类型",
        "info": "",
        "x": 220,
        "y": 180,
        "wires": []
    },
    {
        "id": "9b210a9ed5556444",
        "type": "inject",
        "z": "5143258bfe846b74",
        "name": "启动（USB摄像头）",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "camera",
                "v": "usb",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "iso",
        "payloadType": "date",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "82f33478063682f1"
            ]
        ]
    },
    {
        "id": "2fbbe91a777b092c",
        "type": "inject",
        "z": "5143258bfe846b74",
        "name": "启动（MIPI摄像头）",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "mipi",
        "payload": "iso",
        "payloadType": "date",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "82f33478063682f1"
            ]
        ]
    },
    {
        "id": "3c631ef3a095cc49",
        "type": "inject",
        "z": "5143258bfe846b74",
        "name": "关闭",
        "props": [
            {
                "p": "kill",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "c2f219b232bd471e"
            ]
        ]
    },
    {
        "id": "1179306f9c321dfa",
        "type": "comment",
        "z": "5143258bfe846b74",
        "name": "注意：使用结束后请主动关闭",
        "info": "",
        "x": 220,
        "y": 280,
        "wires": []
    },
    {
        "id": "82f33478063682f1",
        "type": "rdk-tools smartupdate",
        "z": "5143258bfe846b74",
        "g": "c7a1aee6a76cadd9",
        "name": "",
        "x": 420,
        "y": 120,
        "wires": [
            [
                "52f0550f586ca9ec",
                "465e36742a771514",
                "7dcabb5cd3f8f445"
            ],
            []
        ]
    },
    {
        "id": "52f0550f586ca9ec",
        "type": "change",
        "z": "5143258bfe846b74",
        "g": "c7a1aee6a76cadd9",
        "name": "更新提示",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "智能更新已完成",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 120,
        "wires": [
            [
                "357da92b25b02598"
            ]
        ]
    },
    {
        "id": "357da92b25b02598",
        "type": "rdk-tools texttoaudio",
        "z": "5143258bfe846b74",
        "g": "c7a1aee6a76cadd9",
        "name": "",
        "x": 810,
        "y": 120,
        "wires": []
    },
    {
        "id": "465e36742a771514",
        "type": "change",
        "z": "5143258bfe846b74",
        "g": "d96336254aef9b25",
        "name": "设定MobileNet节点",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "launch",
                "pt": "msg",
                "to": "dnn_node_example dnn_node_example.launch.py dnn_example_config_file:=config/mobilenet_ssd_workconfig.json dnn_example_image_width:=480 dnn_example_image_height:=272",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "insert",
                "pt": "msg",
                "to": "$join(['export CAM_TYPE=', msg.camera])",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 240,
        "wires": [
            [
                "c2f219b232bd471e"
            ]
        ]
    },
    {
        "id": "c2f219b232bd471e",
        "type": "rdk-tools checkexecute",
        "z": "5143258bfe846b74",
        "g": "d96336254aef9b25",
        "name": "",
        "x": 670,
        "y": 240,
        "wires": [
            [
                "7cb7c05d16d59210"
            ],
            [
                "db74434a96802860"
            ]
        ]
    },
    {
        "id": "7cb7c05d16d59210",
        "type": "debug",
        "z": "5143258bfe846b74",
        "name": "正确执行提示",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 220,
        "wires": []
    },
    {
        "id": "db74434a96802860",
        "type": "debug",
        "z": "5143258bfe846b74",
        "name": "错误执行提示",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 260,
        "wires": []
    },
    {
        "id": "1e09057f11bf04f1",
        "type": "debug",
        "z": "5143258bfe846b74",
        "name": "算法结果输出",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 360,
        "wires": []
    },
    {
        "id": "285aabdca4dade8e",
        "type": "debug",
        "z": "5143258bfe846b74",
        "name": "性能信息输出",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 400,
        "wires": []
    },
    {
        "id": "7dcabb5cd3f8f445",
        "type": "delay",
        "z": "5143258bfe846b74",
        "g": "dbd729cc140b046b",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 240,
        "y": 360,
        "wires": [
            [
                "39d2df28ca781482"
            ]
        ]
    },
    {
        "id": "39d2df28ca781482",
        "type": "change",
        "z": "5143258bfe846b74",
        "g": "dbd729cc140b046b",
        "name": "设定链接",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ws://${host}:8080",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 400,
        "wires": [
            [
                "1769fc2cb54323ae"
            ]
        ]
    },
    {
        "id": "1769fc2cb54323ae",
        "type": "rdk-tools videows",
        "z": "5143258bfe846b74",
        "g": "dbd729cc140b046b",
        "name": "",
        "fps": "4",
        "width": 640,
        "active": true,
        "x": 420,
        "y": 380,
        "wires": [
            [
                "1e09057f11bf04f1"
            ],
            [
                "285aabdca4dade8e"
            ],
            []
        ]
    }
]