rdk_tools/examples/tros/TROS_Application02_LMKDetection.json
[
    {
        "id": "d857afa8400d1b28",
        "type": "tab",
        "label": "TROS LMK Detection (Application)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d3152bf2aa8f256f",
        "type": "group",
        "z": "d857afa8400d1b28",
        "name": "软件包智能更新",
        "style": {
            "fill": "#ffffbf",
            "fill-opacity": "0.46",
            "label": true
        },
        "nodes": [
            "6251e752069de4f6",
            "2ccdb79308791667",
            "37d89643c47a484c"
        ],
        "x": 334,
        "y": 79,
        "w": 572,
        "h": 82
    },
    {
        "id": "32be5467447d6d99",
        "type": "group",
        "z": "d857afa8400d1b28",
        "name": "检查及运行LMK节点",
        "style": {
            "fill": "#e3f3d3",
            "fill-opacity": "0.5",
            "label": true
        },
        "nodes": [
            "85304b2d6a0ef624",
            "8907a781589e315b"
        ],
        "x": 354,
        "y": 199,
        "w": 392,
        "h": 82
    },
    {
        "id": "f13ba6fcfee2c830",
        "type": "group",
        "z": "d857afa8400d1b28",
        "name": "LMK结果展示",
        "style": {
            "fill": "#bfdbef",
            "fill-opacity": "0.47",
            "label": true
        },
        "nodes": [
            "d362cf39fdcce5b6",
            "bdd400c920a3247e",
            "3e95ae63c7c2bdd7"
        ],
        "x": 174,
        "y": 319,
        "w": 372,
        "h": 122
    },
    {
        "id": "04f46a600926566c",
        "type": "comment",
        "z": "d857afa8400d1b28",
        "name": "名称：TROS应用 人手关键点检查",
        "info": "",
        "x": 190,
        "y": 40,
        "wires": []
    },
    {
        "id": "cafec6c32be44442",
        "type": "inject",
        "z": "d857afa8400d1b28",
        "name": "了解更多",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "https://developer.horizon.cc/documents_tros/boxs/function/hand_lmk_detection",
        "payloadType": "str",
        "x": 440,
        "y": 40,
        "wires": [
            [
                "23a44c9c750ef717"
            ]
        ]
    },
    {
        "id": "23a44c9c750ef717",
        "type": "rdk-tools openurl",
        "z": "d857afa8400d1b28",
        "name": "",
        "x": 600,
        "y": 40,
        "wires": []
    },
    {
        "id": "fe7b72ea00864d73",
        "type": "comment",
        "z": "d857afa8400d1b28",
        "name": "注意：选择对应的摄像头类型",
        "info": "",
        "x": 220,
        "y": 180,
        "wires": []
    },
    {
        "id": "ccc4ae54b12d3037",
        "type": "inject",
        "z": "d857afa8400d1b28",
        "name": "启动（USB摄像头）",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "camera",
                "v": "usb",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "iso",
        "payloadType": "date",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "6251e752069de4f6"
            ]
        ]
    },
    {
        "id": "f9fec823f02d08e2",
        "type": "inject",
        "z": "d857afa8400d1b28",
        "name": "启动（MIPI摄像头）",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "mipi",
        "payload": "iso",
        "payloadType": "date",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "6251e752069de4f6"
            ]
        ]
    },
    {
        "id": "a4f5a6f0792ae22e",
        "type": "inject",
        "z": "d857afa8400d1b28",
        "name": "关闭",
        "props": [
            {
                "p": "kill",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "8907a781589e315b"
            ]
        ]
    },
    {
        "id": "d52a0017ca046966",
        "type": "comment",
        "z": "d857afa8400d1b28",
        "name": "注意：使用结束后请主动关闭",
        "info": "",
        "x": 220,
        "y": 280,
        "wires": []
    },
    {
        "id": "6251e752069de4f6",
        "type": "rdk-tools smartupdate",
        "z": "d857afa8400d1b28",
        "g": "d3152bf2aa8f256f",
        "name": "",
        "x": 420,
        "y": 120,
        "wires": [
            [
                "2ccdb79308791667",
                "85304b2d6a0ef624",
                "d362cf39fdcce5b6"
            ],
            []
        ]
    },
    {
        "id": "2ccdb79308791667",
        "type": "change",
        "z": "d857afa8400d1b28",
        "g": "d3152bf2aa8f256f",
        "name": "更新提示",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "智能更新已完成",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 120,
        "wires": [
            [
                "37d89643c47a484c"
            ]
        ]
    },
    {
        "id": "37d89643c47a484c",
        "type": "rdk-tools texttoaudio",
        "z": "d857afa8400d1b28",
        "g": "d3152bf2aa8f256f",
        "name": "",
        "x": 810,
        "y": 120,
        "wires": []
    },
    {
        "id": "85304b2d6a0ef624",
        "type": "change",
        "z": "d857afa8400d1b28",
        "g": "32be5467447d6d99",
        "name": "设定LMK节点",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "launch",
                "pt": "msg",
                "to": "hand_lmk_detection hand_lmk_detection.launch.py",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "insert",
                "pt": "msg",
                "to": "$join(['export CAM_TYPE=', msg.camera, ' && cp -r /opt/tros/${TROS_DISTRO}/lib/mono2d_body_detection/config/ .', ' && cp -r /opt/tros/${TROS_DISTRO}/lib/hand_lmk_detection/config/ .'])",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 240,
        "wires": [
            [
                "8907a781589e315b"
            ]
        ]
    },
    {
        "id": "8907a781589e315b",
        "type": "rdk-tools checkexecute",
        "z": "d857afa8400d1b28",
        "g": "32be5467447d6d99",
        "name": "",
        "x": 650,
        "y": 240,
        "wires": [
            [
                "5f09deb1ea1ffb4c"
            ],
            [
                "1938a351c5776aa7"
            ]
        ]
    },
    {
        "id": "5f09deb1ea1ffb4c",
        "type": "debug",
        "z": "d857afa8400d1b28",
        "name": "正确执行提示",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 220,
        "wires": []
    },
    {
        "id": "1938a351c5776aa7",
        "type": "debug",
        "z": "d857afa8400d1b28",
        "name": "错误执行提示",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 260,
        "wires": []
    },
    {
        "id": "c37ff380debe1a6b",
        "type": "debug",
        "z": "d857afa8400d1b28",
        "name": "算法结果输出",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 360,
        "wires": []
    },
    {
        "id": "bd076307089aaa8c",
        "type": "debug",
        "z": "d857afa8400d1b28",
        "name": "性能信息输出",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 400,
        "wires": []
    },
    {
        "id": "d362cf39fdcce5b6",
        "type": "delay",
        "z": "d857afa8400d1b28",
        "g": "f13ba6fcfee2c830",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 260,
        "y": 360,
        "wires": [
            [
                "bdd400c920a3247e"
            ]
        ]
    },
    {
        "id": "bdd400c920a3247e",
        "type": "change",
        "z": "d857afa8400d1b28",
        "g": "f13ba6fcfee2c830",
        "name": "设定链接",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ws://${host}:8080",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 400,
        "wires": [
            [
                "3e95ae63c7c2bdd7"
            ]
        ]
    },
    {
        "id": "3e95ae63c7c2bdd7",
        "type": "rdk-tools videows",
        "z": "d857afa8400d1b28",
        "g": "f13ba6fcfee2c830",
        "name": "",
        "fps": "4",
        "width": 640,
        "active": true,
        "x": 440,
        "y": 380,
        "wires": [
            [
                "c37ff380debe1a6b"
            ],
            [
                "bd076307089aaa8c"
            ],
            []
        ]
    }
]