rdk_tools/examples/tros/TROS_Classification01_MobileNetV2.json
[
    {
        "id": "c30e412c381fc40a",
        "type": "tab",
        "label": "TROS MobileNetV2 (Classification)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5fde230ebb3c131d",
        "type": "group",
        "z": "c30e412c381fc40a",
        "name": "软件包智能更新",
        "style": {
            "fill": "#ffffbf",
            "fill-opacity": "0.46",
            "label": true
        },
        "nodes": [
            "1c3aac155de531b3",
            "c090a08759c86544",
            "dd0a2f3eef759049"
        ],
        "x": 334,
        "y": 79,
        "w": 572,
        "h": 82
    },
    {
        "id": "6f4d009a0e22d1dd",
        "type": "group",
        "z": "c30e412c381fc40a",
        "name": "核心控制和运行",
        "style": {
            "fill": "#e3f3d3",
            "fill-opacity": "0.5",
            "label": true
        },
        "nodes": [
            "aa6ba8d1a7b557d5",
            "7281c34aaf284170"
        ],
        "x": 334,
        "y": 219,
        "w": 392,
        "h": 82
    },
    {
        "id": "928abbf1020d1f74",
        "type": "group",
        "z": "c30e412c381fc40a",
        "name": "结果可视化",
        "style": {
            "fill": "#bfdbef",
            "fill-opacity": "0.47",
            "label": true
        },
        "nodes": [
            "edbb9c1673cbcf94",
            "67a76821abb5d83b",
            "a580ae0db1570bd6"
        ],
        "x": 334,
        "y": 359,
        "w": 372,
        "h": 129.5
    },
    {
        "id": "dd9959ff991663b8",
        "type": "comment",
        "z": "c30e412c381fc40a",
        "name": "名称：TROS图像分类 MobileNetV2",
        "info": "",
        "x": 200,
        "y": 40,
        "wires": []
    },
    {
        "id": "48be210ce5c227f7",
        "type": "inject",
        "z": "c30e412c381fc40a",
        "name": "了解更多",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "https://developer.d-robotics.cc/rdk_doc/Robot_development/boxs/classification/mobilenetv2",
        "payloadType": "str",
        "x": 460,
        "y": 40,
        "wires": [
            [
                "b32b684e90eb244b"
            ]
        ]
    },
    {
        "id": "b32b684e90eb244b",
        "type": "rdk-tools openurl",
        "z": "c30e412c381fc40a",
        "name": "",
        "x": 640,
        "y": 40,
        "wires": []
    },
    {
        "id": "2646313d82b5696e",
        "type": "comment",
        "z": "c30e412c381fc40a",
        "name": "注意：选择对应的摄像头类型",
        "info": "",
        "x": 180,
        "y": 200,
        "wires": []
    },
    {
        "id": "a4d954b0b9c341e4",
        "type": "inject",
        "z": "c30e412c381fc40a",
        "name": "启动（USB摄像头）",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "camera",
                "v": "usb",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "iso",
        "payloadType": "date",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "aa6ba8d1a7b557d5",
                "edbb9c1673cbcf94"
            ]
        ]
    },
    {
        "id": "568743ec6d01b928",
        "type": "inject",
        "z": "c30e412c381fc40a",
        "name": "启动（MIPI摄像头）",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "mipi",
        "payload": "iso",
        "payloadType": "date",
        "x": 190,
        "y": 280,
        "wires": [
            [
                "aa6ba8d1a7b557d5",
                "edbb9c1673cbcf94"
            ]
        ]
    },
    {
        "id": "950140dfbed3038b",
        "type": "inject",
        "z": "c30e412c381fc40a",
        "name": "关闭",
        "props": [
            {
                "p": "kill",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "7281c34aaf284170"
            ]
        ]
    },
    {
        "id": "0c1f75a0af42f69c",
        "type": "comment",
        "z": "c30e412c381fc40a",
        "name": "注意：使用结束后请主动关闭",
        "info": "",
        "x": 180,
        "y": 360,
        "wires": []
    },
    {
        "id": "1c3aac155de531b3",
        "type": "rdk-tools smartupdate",
        "z": "c30e412c381fc40a",
        "g": "5fde230ebb3c131d",
        "name": "",
        "x": 420,
        "y": 120,
        "wires": [
            [
                "c090a08759c86544"
            ],
            []
        ]
    },
    {
        "id": "c090a08759c86544",
        "type": "change",
        "z": "c30e412c381fc40a",
        "g": "5fde230ebb3c131d",
        "name": "更新提示",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "智能更新已完成",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 120,
        "wires": [
            [
                "dd0a2f3eef759049"
            ]
        ]
    },
    {
        "id": "dd0a2f3eef759049",
        "type": "rdk-tools texttoaudio",
        "z": "c30e412c381fc40a",
        "g": "5fde230ebb3c131d",
        "name": "",
        "x": 810,
        "y": 120,
        "wires": []
    },
    {
        "id": "aa6ba8d1a7b557d5",
        "type": "change",
        "z": "c30e412c381fc40a",
        "g": "6f4d009a0e22d1dd",
        "name": "配置运行参数",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "launch",
                "pt": "msg",
                "to": "dnn_node_example dnn_node_example.launch.py dnn_example_config_file:=config/mobilenetv2workconfig.json dnn_example_image_width:=480 dnn_example_image_height:=272",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "insert",
                "pt": "msg",
                "to": "$join(['export CAM_TYPE=', msg.camera])",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 260,
        "wires": [
            [
                "7281c34aaf284170"
            ]
        ]
    },
    {
        "id": "7281c34aaf284170",
        "type": "rdk-tools checkexecute",
        "z": "c30e412c381fc40a",
        "g": "6f4d009a0e22d1dd",
        "name": "",
        "x": 630,
        "y": 260,
        "wires": [
            [
                "6dd899cb015ff669"
            ],
            [
                "90c1359ce0ea3963"
            ]
        ]
    },
    {
        "id": "6dd899cb015ff669",
        "type": "debug",
        "z": "c30e412c381fc40a",
        "name": "正确执行提示",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 240,
        "wires": []
    },
    {
        "id": "90c1359ce0ea3963",
        "type": "debug",
        "z": "c30e412c381fc40a",
        "name": "错误执行提示",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 280,
        "wires": []
    },
    {
        "id": "1872d496fa53dd48",
        "type": "debug",
        "z": "c30e412c381fc40a",
        "name": "算法结果输出",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 400,
        "wires": []
    },
    {
        "id": "22fd491288b32063",
        "type": "debug",
        "z": "c30e412c381fc40a",
        "name": "性能信息输出",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 440,
        "wires": []
    },
    {
        "id": "edbb9c1673cbcf94",
        "type": "delay",
        "z": "c30e412c381fc40a",
        "g": "928abbf1020d1f74",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 420,
        "y": 400,
        "wires": [
            [
                "67a76821abb5d83b"
            ]
        ]
    },
    {
        "id": "67a76821abb5d83b",
        "type": "change",
        "z": "c30e412c381fc40a",
        "g": "928abbf1020d1f74",
        "name": "设定链接",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ws://${host}:8080",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 440,
        "wires": [
            [
                "a580ae0db1570bd6"
            ]
        ]
    },
    {
        "id": "a580ae0db1570bd6",
        "type": "rdk-tools videows",
        "z": "c30e412c381fc40a",
        "g": "928abbf1020d1f74",
        "name": "视频预览",
        "fps": "4",
        "width": 640,
        "active": true,
        "x": 600,
        "y": 440,
        "wires": [
            [
                "1872d496fa53dd48",
                "9a0bd3a4ceff2879"
            ],
            [
                "22fd491288b32063"
            ],
            []
        ]
    },
    {
        "id": "8b3565a2337e9d09",
        "type": "inject",
        "z": "c30e412c381fc40a",
        "name": "检查更新",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "1c3aac155de531b3"
            ]
        ]
    },
    {
        "id": "9a0bd3a4ceff2879",
        "type": "change",
        "z": "c30e412c381fc40a",
        "name": "提取类型",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "attributes.type",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 580,
        "wires": [
            [
                "065e56bfa6703d60"
            ]
        ]
    },
    {
        "id": "065e56bfa6703d60",
        "type": "rdk-tools output",
        "z": "c30e412c381fc40a",
        "name": "",
        "active": true,
        "x": 420,
        "y": 620,
        "wires": []
    },
    {
        "id": "690f2bbf5aef2b51",
        "type": "inject",
        "z": "c30e412c381fc40a",
        "name": "打开浏览器",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "http://{host}:8000",
        "payloadType": "str",
        "x": 140,
        "y": 520,
        "wires": [
            [
                "6e5e7f16804e3fae"
            ]
        ]
    },
    {
        "id": "6e5e7f16804e3fae",
        "type": "rdk-tools openurl",
        "z": "c30e412c381fc40a",
        "name": "",
        "x": 320,
        "y": 520,
        "wires": []
    },
    {
        "id": "45b6f1b942097b79",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-rdk-tools": "0.0.27"
        }
    }
]