rdk_camera/examples-zh/TakePhotoWithUSBCam.json
[
    {
        "id": "0d82d00b7ccdd3c7",
        "type": "tab",
        "label": "TakePhotoWithUSBCam",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "90d07baccead5916",
        "type": "comment",
        "z": "0d82d00b7ccdd3c7",
        "name": "名称：USB摄像头拍照  版本：v0.0.1",
        "info": "",
        "x": 180,
        "y": 40,
        "wires": []
    },
    {
        "id": "c8543ca967d4938f",
        "type": "inject",
        "z": "0d82d00b7ccdd3c7",
        "name": "拍照快门",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "c6b8f31194e9f39b"
            ]
        ]
    },
    {
        "id": "c6b8f31194e9f39b",
        "type": "rdk-camera takephoto",
        "z": "0d82d00b7ccdd3c7",
        "cameratype": "1",
        "filemode": "2",
        "filename": "",
        "filedefpath": "1",
        "filepath": "",
        "fileformat": "jpeg",
        "resolution": "2",
        "rotation": "0",
        "fliph": "0",
        "flipv": "0",
        "brightness": "50",
        "contrast": "0",
        "sharpness": "0",
        "quality": "80",
        "imageeffect": "none",
        "exposuremode": "auto",
        "iso": "0",
        "agcwait": "1.0",
        "led": "0",
        "awb": "auto",
        "name": "",
        "x": 290,
        "y": 120,
        "wires": [
            [
                "89f04f681220895b"
            ]
        ]
    },
    {
        "id": "89f04f681220895b",
        "type": "jimp-image",
        "z": "0d82d00b7ccdd3c7",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {},
        "x": 450,
        "y": 120,
        "wires": [
            [
                "3bfdddd7e34cddba"
            ]
        ]
    },
    {
        "id": "3bfdddd7e34cddba",
        "type": "image viewer",
        "z": "0d82d00b7ccdd3c7",
        "name": "",
        "width": "480",
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 210,
        "y": 180,
        "wires": [
            []
        ]
    }
]