rdk_tools/examples-en/basics/Basic_example01_Models_and_Outputs.json
[
    {
        "id": "4b0bd5e4173a4516",
        "type": "tab",
        "label": "Basic Models and Outputs",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a1a61ea62b1ff463",
        "type": "inject",
        "z": "4b0bd5e4173a4516",
        "name": "Run No.1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 120,
        "y": 380,
        "wires": [
            [
                "fc8dbc67f529db48"
            ]
        ]
    },
    {
        "id": "fc8dbc67f529db48",
        "type": "exec",
        "z": "4b0bd5e4173a4516",
        "command": "cd /app/pydev_demo/01_basic_sample && python test_googlenet.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "GoogleNet",
        "x": 330,
        "y": 380,
        "wires": [
            [
                "379a850cbb055097"
            ],
            [
                "4cd0e13e6b75b365"
            ],
            [
                "696d5949cf00db30"
            ]
        ]
    },
    {
        "id": "379a850cbb055097",
        "type": "debug",
        "z": "4b0bd5e4173a4516",
        "name": "Stdout",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 540,
        "wires": []
    },
    {
        "id": "4cd0e13e6b75b365",
        "type": "debug",
        "z": "4b0bd5e4173a4516",
        "name": "Stderr",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 600,
        "wires": []
    },
    {
        "id": "696d5949cf00db30",
        "type": "debug",
        "z": "4b0bd5e4173a4516",
        "name": "Return Code",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 660,
        "wires": []
    },
    {
        "id": "be0efe092130d0f6",
        "type": "exec",
        "z": "4b0bd5e4173a4516",
        "command": "cd /app/pydev_demo/01_basic_sample && python test_vargconvnet.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "VargconvNet",
        "x": 330,
        "y": 480,
        "wires": [
            [
                "379a850cbb055097"
            ],
            [
                "4cd0e13e6b75b365"
            ],
            [
                "696d5949cf00db30"
            ]
        ]
    },
    {
        "id": "c17c2ce9435a9987",
        "type": "inject",
        "z": "4b0bd5e4173a4516",
        "name": "Run No.2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 120,
        "y": 480,
        "wires": [
            [
                "be0efe092130d0f6"
            ]
        ]
    },
    {
        "id": "74cbf9b0ed6b5af6",
        "type": "inject",
        "z": "4b0bd5e4173a4516",
        "name": "Run No.3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 120,
        "y": 580,
        "wires": [
            [
                "54d7c7459b5d8dca"
            ]
        ]
    },
    {
        "id": "54d7c7459b5d8dca",
        "type": "exec",
        "z": "4b0bd5e4173a4516",
        "command": "cd /app/pydev_demo/01_basic_sample && python test_mobilenetv1.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "MobileNetV1",
        "x": 330,
        "y": 580,
        "wires": [
            [
                "379a850cbb055097"
            ],
            [
                "4cd0e13e6b75b365"
            ],
            [
                "696d5949cf00db30"
            ]
        ]
    },
    {
        "id": "3e73c30da0a85e11",
        "type": "inject",
        "z": "4b0bd5e4173a4516",
        "name": "Run No.4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 120,
        "y": 660,
        "wires": [
            [
                "1ceb4b9604c08a39"
            ]
        ]
    },
    {
        "id": "1ceb4b9604c08a39",
        "type": "exec",
        "z": "4b0bd5e4173a4516",
        "command": "cd /app/pydev_demo/01_basic_sample && python test_efficientnasnet_m.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "EfficientNasNet_M",
        "x": 350,
        "y": 660,
        "wires": [
            [
                "379a850cbb055097"
            ],
            [
                "4cd0e13e6b75b365"
            ],
            [
                "696d5949cf00db30"
            ]
        ]
    },
    {
        "id": "75a686213ac79ee8",
        "type": "inject",
        "z": "4b0bd5e4173a4516",
        "name": "Run No.5",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 120,
        "y": 740,
        "wires": [
            [
                "68da98fa011f8379"
            ]
        ]
    },
    {
        "id": "68da98fa011f8379",
        "type": "exec",
        "z": "4b0bd5e4173a4516",
        "command": "cd /app/pydev_demo/01_basic_sample && python test_efficientnet_lite4.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "EfficientNet_Lite4",
        "x": 350,
        "y": 740,
        "wires": [
            [
                "379a850cbb055097"
            ],
            [
                "4cd0e13e6b75b365"
            ],
            [
                "696d5949cf00db30"
            ]
        ]
    },
    {
        "id": "16670be4ce08bebe",
        "type": "inject",
        "z": "4b0bd5e4173a4516",
        "name": "Run No.6",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 120,
        "y": 820,
        "wires": [
            [
                "2072daf82900fa16"
            ]
        ]
    },
    {
        "id": "2072daf82900fa16",
        "type": "exec",
        "z": "4b0bd5e4173a4516",
        "command": "cd /app/pydev_demo/01_basic_sample && python test_resnet18.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Resnet18",
        "x": 320,
        "y": 820,
        "wires": [
            [
                "379a850cbb055097"
            ],
            [
                "4cd0e13e6b75b365"
            ],
            []
        ]
    },
    {
        "id": "af4590368b388479",
        "type": "comment",
        "z": "4b0bd5e4173a4516",
        "name": "Name: Basic Model, Models&Outputs",
        "info": "",
        "x": 190,
        "y": 20,
        "wires": []
    },
    {
        "id": "f2c2d68bcbb56a8b",
        "type": "comment",
        "z": "4b0bd5e4173a4516",
        "name": "Notice: RDK-tools and image-tools are required!",
        "info": "",
        "x": 220,
        "y": 60,
        "wires": []
    },
    {
        "id": "adb3e8c1199b1245",
        "type": "inject",
        "z": "4b0bd5e4173a4516",
        "name": "Learn More",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "https://developer.horizon.cc/documents_rdk/python_development/pydev_dnn_demo/static_image",
        "payloadType": "str",
        "x": 510,
        "y": 40,
        "wires": [
            [
                "96d6375fe3144014"
            ]
        ]
    },
    {
        "id": "96d6375fe3144014",
        "type": "rdk-tools openurl",
        "z": "4b0bd5e4173a4516",
        "name": "",
        "x": 700,
        "y": 40,
        "wires": []
    },
    {
        "id": "edb08c0bc471d40a",
        "type": "inject",
        "z": "4b0bd5e4173a4516",
        "name": "Display image",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "/app/pydev_demo/01_basic_sample/zebra_cls.jpg",
        "payloadType": "str",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "a4b2840fc9b9545a"
            ]
        ]
    },
    {
        "id": "a4b2840fc9b9545a",
        "type": "jimp-image",
        "z": "4b0bd5e4173a4516",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {},
        "x": 290,
        "y": 280,
        "wires": [
            [
                "63e094b464385474"
            ]
        ]
    },
    {
        "id": "63e094b464385474",
        "type": "image viewer",
        "z": "4b0bd5e4173a4516",
        "name": "",
        "width": "240",
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 610,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "8a1eb0c0a7f33671",
        "type": "inject",
        "z": "4b0bd5e4173a4516",
        "name": "How to open panel?",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "debug",
                "v": "/home/sunrise/.node-red/node_modules/node-red-node-rdk-tools/examples/basics/hint-debugpanel.png",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "/home/sunrise/.node-red/node_modules/node-red-node-rdk-tools/examples/basics/hint-sidepanel.png",
        "payloadType": "str",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "c9b549b64234ab07",
                "ba03df1c1f776dea"
            ]
        ]
    },
    {
        "id": "c9b549b64234ab07",
        "type": "jimp-image",
        "z": "4b0bd5e4173a4516",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 310,
        "y": 100,
        "wires": [
            [
                "85c769163651d9e5"
            ]
        ]
    },
    {
        "id": "85c769163651d9e5",
        "type": "image viewer",
        "z": "4b0bd5e4173a4516",
        "name": "Open Side Panel",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 470,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "ba03df1c1f776dea",
        "type": "jimp-image",
        "z": "4b0bd5e4173a4516",
        "name": "",
        "data": "debug",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 310,
        "y": 180,
        "wires": [
            [
                "c9541537670cd0fc"
            ]
        ]
    },
    {
        "id": "c9541537670cd0fc",
        "type": "image viewer",
        "z": "4b0bd5e4173a4516",
        "name": "Open Debug panel",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 690,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "1dbe4ad6934a7718",
        "type": "comment",
        "z": "4b0bd5e4173a4516",
        "name": "Please make sure opening side panel!",
        "info": "",
        "x": 190,
        "y": 220,
        "wires": []
    }
]