rdk_tools/examples-zh/tros/TROS_Application06_Face_Age_Detection.json
[
    {
        "id": "face_age_v2_tab",
        "type": "tab",
        "label": "人脸年龄检测",
        "disabled": false,
        "info": ""
    },
    {
        "id": "group_control_age",
        "type": "group",
        "z": "face_age_v2_tab",
        "name": "核心控制",
        "style": {
            "fill": "#e3f3d3",
            "fill-opacity": "0.6",
            "label": true
        },
        "nodes": [
            "inject_usb_age",
            "inject_mipi_age",
            "change_config_age",
            "node_execute_age",
            "inject_stop_age",
            "debug_success_age",
            "debug_error_age",
            "exec_init_config_age"
        ],
        "x": 114,
        "y": 159,
        "w": 1012,
        "h": 182
    },
    {
        "id": "group_viz_age",
        "type": "group",
        "z": "face_age_v2_tab",
        "name": "结果可视化",
        "style": {
            "fill": "#d1e7f5",
            "fill-opacity": "0.6",
            "label": true
        },
        "nodes": [
            "inject_browser_age",
            "open_browser_age",
            "delay_preview_age",
            "set_ws_url_age",
            "video_preview_age"
        ],
        "x": 114,
        "y": 399,
        "w": 412,
        "h": 169.5
    },
    {
        "id": "group_update_age",
        "type": "group",
        "z": "face_age_v2_tab",
        "name": "环境准备",
        "style": {
            "fill": "#fff9c4",
            "fill-opacity": "0.6",
            "label": true
        },
        "nodes": [
            "inject_update_age",
            "smart_update_age",
            "change_update_msg_age",
            "audio_notify_age"
        ],
        "x": 114,
        "y": 39,
        "w": 652,
        "h": 82
    },
    {
        "id": "inject_usb_age",
        "type": "inject",
        "z": "face_age_v2_tab",
        "g": "group_control_age",
        "name": "启动 (USB摄像头)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "camera",
                "v": "usb",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 200,
        "wires": [
            [
                "exec_init_config_age"
            ]
        ]
    },
    {
        "id": "inject_mipi_age",
        "type": "inject",
        "z": "face_age_v2_tab",
        "g": "group_control_age",
        "name": "启动 (MIPI摄像头)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "camera",
                "v": "mipi",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 240,
        "wires": [
            [
                "exec_init_config_age"
            ]
        ]
    },
    {
        "id": "exec_init_config_age",
        "type": "exec",
        "z": "face_age_v2_tab",
        "g": "group_control_age",
        "command": "cp -r /opt/tros/humble/lib/mono2d_body_detection/config/ . || true",
        "addpay": false,
        "append": "",
        "useSpawn": false,
        "timer": "",
        "oldrc": false,
        "name": "初始化配置 (CP)",
        "x": 460,
        "y": 220,
        "wires": [
            [
                "change_config_age",
                "delay_preview_age"
            ],
            [],
            []
        ]
    },
    {
        "id": "change_config_age",
        "type": "change",
        "z": "face_age_v2_tab",
        "g": "group_control_age",
        "name": "配置运行参数",
        "rules": [
            {
                "t": "set",
                "p": "launch",
                "pt": "msg",
                "to": "face_age_detection body_det_face_age_det.launch.py",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "insert",
                "pt": "msg",
                "to": "$join(['export CAM_TYPE=', msg.camera])",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 220,
        "wires": [
            [
                "node_execute_age"
            ]
        ]
    },
    {
        "id": "node_execute_age",
        "type": "rdk-tools checkexecute",
        "z": "face_age_v2_tab",
        "g": "group_control_age",
        "name": "执行检测",
        "x": 880,
        "y": 260,
        "wires": [
            [
                "debug_success_age"
            ],
            [
                "debug_error_age"
            ]
        ]
    },
    {
        "id": "inject_stop_age",
        "type": "inject",
        "z": "face_age_v2_tab",
        "g": "group_control_age",
        "name": "关闭服务",
        "props": [
            {
                "p": "kill",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 220,
        "y": 300,
        "wires": [
            [
                "node_execute_age"
            ]
        ]
    },
    {
        "id": "debug_success_age",
        "type": "debug",
        "z": "face_age_v2_tab",
        "g": "group_control_age",
        "name": "运行日志",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 240,
        "wires": []
    },
    {
        "id": "debug_error_age",
        "type": "debug",
        "z": "face_age_v2_tab",
        "g": "group_control_age",
        "name": "错误警告",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 280,
        "wires": []
    },
    {
        "id": "inject_browser_age",
        "type": "inject",
        "z": "face_age_v2_tab",
        "g": "group_viz_age",
        "name": "打开浏览器",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "http://{host}:8000",
        "payloadType": "str",
        "x": 220,
        "y": 440,
        "wires": [
            [
                "open_browser_age"
            ]
        ]
    },
    {
        "id": "open_browser_age",
        "type": "rdk-tools openurl",
        "z": "face_age_v2_tab",
        "g": "group_viz_age",
        "name": "",
        "x": 400,
        "y": 440,
        "wires": []
    },
    {
        "id": "inject_update_age",
        "type": "inject",
        "z": "face_age_v2_tab",
        "g": "group_update_age",
        "name": "检查更新",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 80,
        "wires": [
            [
                "smart_update_age"
            ]
        ]
    },
    {
        "id": "smart_update_age",
        "type": "rdk-tools smartupdate",
        "z": "face_age_v2_tab",
        "g": "group_update_age",
        "name": "",
        "x": 380,
        "y": 80,
        "wires": [
            [
                "change_update_msg_age"
            ],
            []
        ]
    },
    {
        "id": "change_update_msg_age",
        "type": "change",
        "z": "face_age_v2_tab",
        "g": "group_update_age",
        "name": "提示内容",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "环境检查完成",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 80,
        "wires": [
            [
                "audio_notify_age"
            ]
        ]
    },
    {
        "id": "audio_notify_age",
        "type": "rdk-tools texttoaudio",
        "z": "face_age_v2_tab",
        "g": "group_update_age",
        "name": "",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "delay_preview_age",
        "type": "delay",
        "z": "face_age_v2_tab",
        "g": "group_viz_age",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 240,
        "y": 480,
        "wires": [
            [
                "set_ws_url_age"
            ]
        ]
    },
    {
        "id": "set_ws_url_age",
        "type": "change",
        "z": "face_age_v2_tab",
        "g": "group_viz_age",
        "name": "设定视频流",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ws://{host}:8000",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 480,
        "wires": [
            [
                "video_preview_age"
            ]
        ]
    },
    {
        "id": "video_preview_age",
        "type": "rdk-tools videows",
        "z": "face_age_v2_tab",
        "g": "group_viz_age",
        "name": "Web预览",
        "fps": "10",
        "width": "480",
        "active": true,
        "x": 420,
        "y": 520,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c2c93d3252e80935",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-rdk-tools": "0.0.27"
        }
    }
]