rdk_tools/examples-zh/tros/TROS_Application07_Face_Landmarks_Detection.json
[
    {
        "id": "6ea85a80b169f687",
        "type": "tab",
        "label": "人脸关键点检测",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7823ddb4fee194ed",
        "type": "group",
        "z": "6ea85a80b169f687",
        "name": "核心控制",
        "style": {
            "fill": "#e3f3d3",
            "fill-opacity": "0.6",
            "label": true
        },
        "nodes": [
            "3731a1f8f7281d7f",
            "1f6982eb9a54a0db",
            "6e44e1a8d909ed22",
            "7aed82efb2e2d4db",
            "c7c7fc671434fba5",
            "fed6b0f5ca9a60bb",
            "befd2e978fcda92e",
            "41f244d3e7bf3127"
        ],
        "x": 114,
        "y": 159,
        "w": 1012,
        "h": 182
    },
    {
        "id": "e841fd2932a7bbec",
        "type": "group",
        "z": "6ea85a80b169f687",
        "name": "结果可视化",
        "style": {
            "fill": "#d1e7f5",
            "fill-opacity": "0.6",
            "label": true
        },
        "nodes": [
            "0172d60d9df794a6",
            "5374197b79637a1e",
            "f1815e43a82e8725",
            "e4a3607b7fb792ef",
            "91fdc5151d26fc1a"
        ],
        "x": 114,
        "y": 399,
        "w": 412,
        "h": 169.5
    },
    {
        "id": "13453ea772ef0ca7",
        "type": "group",
        "z": "6ea85a80b169f687",
        "name": "环境准备",
        "style": {
            "fill": "#fff9c4",
            "fill-opacity": "0.6",
            "label": true
        },
        "nodes": [
            "ebabe08cd88b71cf",
            "91f713dbb505fade",
            "db8f56176febe28a",
            "178723005092c00f"
        ],
        "x": 114,
        "y": 39,
        "w": 652,
        "h": 82
    },
    {
        "id": "3731a1f8f7281d7f",
        "type": "inject",
        "z": "6ea85a80b169f687",
        "g": "7823ddb4fee194ed",
        "name": "启动 (USB摄像头)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "camera",
                "v": "usb",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 200,
        "wires": [
            [
                "41f244d3e7bf3127"
            ]
        ]
    },
    {
        "id": "1f6982eb9a54a0db",
        "type": "inject",
        "z": "6ea85a80b169f687",
        "g": "7823ddb4fee194ed",
        "name": "启动 (MIPI摄像头)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "camera",
                "v": "mipi",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 240,
        "wires": [
            [
                "41f244d3e7bf3127"
            ]
        ]
    },
    {
        "id": "41f244d3e7bf3127",
        "type": "exec",
        "z": "6ea85a80b169f687",
        "g": "7823ddb4fee194ed",
        "command": "cp -r /opt/tros/humble/lib/mono2d_body_detection/config/ . || true",
        "addpay": false,
        "append": "",
        "useSpawn": false,
        "timer": "",
        "oldrc": false,
        "name": "初始化配置(拷贝文件)",
        "x": 480,
        "y": 220,
        "wires": [
            [
                "6e44e1a8d909ed22",
                "f1815e43a82e8725"
            ],
            [],
            []
        ]
    },
    {
        "id": "6e44e1a8d909ed22",
        "type": "change",
        "z": "6ea85a80b169f687",
        "g": "7823ddb4fee194ed",
        "name": "配置运行参数",
        "rules": [
            {
                "t": "set",
                "p": "launch",
                "pt": "msg",
                "to": "face_landmarks_detection body_det_face_landmarks_det.launch.py",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "insert",
                "pt": "msg",
                "to": "$join(['export CAM_TYPE=', msg.camera])",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 220,
        "wires": [
            [
                "7aed82efb2e2d4db"
            ]
        ]
    },
    {
        "id": "7aed82efb2e2d4db",
        "type": "rdk-tools checkexecute",
        "z": "6ea85a80b169f687",
        "g": "7823ddb4fee194ed",
        "name": "执行检测",
        "x": 880,
        "y": 260,
        "wires": [
            [
                "fed6b0f5ca9a60bb"
            ],
            [
                "befd2e978fcda92e"
            ]
        ]
    },
    {
        "id": "c7c7fc671434fba5",
        "type": "inject",
        "z": "6ea85a80b169f687",
        "g": "7823ddb4fee194ed",
        "name": "关闭服务",
        "props": [
            {
                "p": "kill",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 220,
        "y": 300,
        "wires": [
            [
                "7aed82efb2e2d4db"
            ]
        ]
    },
    {
        "id": "fed6b0f5ca9a60bb",
        "type": "debug",
        "z": "6ea85a80b169f687",
        "g": "7823ddb4fee194ed",
        "name": "运行日志",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 240,
        "wires": []
    },
    {
        "id": "befd2e978fcda92e",
        "type": "debug",
        "z": "6ea85a80b169f687",
        "g": "7823ddb4fee194ed",
        "name": "错误警告",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 280,
        "wires": []
    },
    {
        "id": "0172d60d9df794a6",
        "type": "inject",
        "z": "6ea85a80b169f687",
        "g": "e841fd2932a7bbec",
        "name": "打开浏览器",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "http://{host}:8000",
        "payloadType": "str",
        "x": 220,
        "y": 440,
        "wires": [
            [
                "5374197b79637a1e"
            ]
        ]
    },
    {
        "id": "5374197b79637a1e",
        "type": "rdk-tools openurl",
        "z": "6ea85a80b169f687",
        "g": "e841fd2932a7bbec",
        "name": "",
        "x": 400,
        "y": 440,
        "wires": []
    },
    {
        "id": "ebabe08cd88b71cf",
        "type": "inject",
        "z": "6ea85a80b169f687",
        "g": "13453ea772ef0ca7",
        "name": "检查更新",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 80,
        "wires": [
            [
                "91f713dbb505fade"
            ]
        ]
    },
    {
        "id": "91f713dbb505fade",
        "type": "rdk-tools smartupdate",
        "z": "6ea85a80b169f687",
        "g": "13453ea772ef0ca7",
        "name": "",
        "x": 380,
        "y": 80,
        "wires": [
            [
                "db8f56176febe28a"
            ],
            []
        ]
    },
    {
        "id": "db8f56176febe28a",
        "type": "change",
        "z": "6ea85a80b169f687",
        "g": "13453ea772ef0ca7",
        "name": "提示内容",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "环境检查完成",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 80,
        "wires": [
            [
                "178723005092c00f"
            ]
        ]
    },
    {
        "id": "178723005092c00f",
        "type": "rdk-tools texttoaudio",
        "z": "6ea85a80b169f687",
        "g": "13453ea772ef0ca7",
        "name": "",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "f1815e43a82e8725",
        "type": "delay",
        "z": "6ea85a80b169f687",
        "g": "e841fd2932a7bbec",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 240,
        "y": 480,
        "wires": [
            [
                "e4a3607b7fb792ef"
            ]
        ]
    },
    {
        "id": "e4a3607b7fb792ef",
        "type": "change",
        "z": "6ea85a80b169f687",
        "g": "e841fd2932a7bbec",
        "name": "设定视频流",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ws://{host}:8000",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 480,
        "wires": [
            [
                "91fdc5151d26fc1a"
            ]
        ]
    },
    {
        "id": "91fdc5151d26fc1a",
        "type": "rdk-tools videows",
        "z": "6ea85a80b169f687",
        "g": "e841fd2932a7bbec",
        "name": "Web预览",
        "fps": "10",
        "width": "480",
        "active": true,
        "x": 420,
        "y": 520,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c061b1658ac4e344",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-rdk-tools": "0.0.27"
        }
    }
]