rdk_tools/example-zh/tros/TROS_Application09_Pose_Detection.json
[
    {
        "id": "ed44aeff9a2ab45d",
        "type": "tab",
        "label": "姿态检测",
        "disabled": false,
        "info": ""
    },
    {
        "id": "02a48fdef9c1a002",
        "type": "group",
        "z": "ed44aeff9a2ab45d",
        "name": "核心控制",
        "style": {
            "fill": "#e3f3d3",
            "fill-opacity": "0.6",
            "label": true
        },
        "nodes": [
            "07d81f1bfbd55cd0",
            "d37338af2c3a65db",
            "ec12f06270bbf61e",
            "0148012327e76b5e",
            "51c6dbd7058ff8ad",
            "25b9d10aacf09601",
            "a995a87dcb620a54"
        ],
        "x": 114,
        "y": 159,
        "w": 1012,
        "h": 182
    },
    {
        "id": "fa1ba96e2af824e3",
        "type": "group",
        "z": "ed44aeff9a2ab45d",
        "name": "结果可视化",
        "style": {
            "fill": "#d1e7f5",
            "fill-opacity": "0.6",
            "label": true
        },
        "nodes": [
            "cf5df1e9ec0e45aa",
            "9c647084cd8be9cf",
            "7af3f8af2ed45534",
            "de077b070163e6af",
            "8f6e2bcfad0f757f"
        ],
        "x": 114,
        "y": 399,
        "w": 412,
        "h": 169.5
    },
    {
        "id": "fe8b168a4d8a6535",
        "type": "group",
        "z": "ed44aeff9a2ab45d",
        "name": "环境准备",
        "style": {
            "fill": "#fff9c4",
            "fill-opacity": "0.6",
            "label": true
        },
        "nodes": [
            "d689de6a71262fda",
            "177c8d3b13e1ff73",
            "67e9da776a8bebda",
            "dc9be7890d62dc38"
        ],
        "x": 114,
        "y": 39,
        "w": 652,
        "h": 82
    },
    {
        "id": "07d81f1bfbd55cd0",
        "type": "inject",
        "z": "ed44aeff9a2ab45d",
        "g": "02a48fdef9c1a002",
        "name": "启动 (USB摄像头)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "camera",
                "v": "usb",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 200,
        "wires": [
            [
                "a995a87dcb620a54"
            ]
        ]
    },
    {
        "id": "d37338af2c3a65db",
        "type": "inject",
        "z": "ed44aeff9a2ab45d",
        "g": "02a48fdef9c1a002",
        "name": "启动 (MIPI摄像头)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "camera",
                "v": "mipi",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 240,
        "wires": [
            [
                "a995a87dcb620a54"
            ]
        ]
    },
    {
        "id": "a995a87dcb620a54",
        "type": "exec",
        "z": "ed44aeff9a2ab45d",
        "g": "02a48fdef9c1a002",
        "command": "cp -r /opt/tros/humble/lib/mono2d_body_detection/config/ . || true",
        "addpay": false,
        "append": "",
        "useSpawn": false,
        "timer": "",
        "oldrc": false,
        "name": "初始化配置 (CP)",
        "x": 460,
        "y": 220,
        "wires": [
            [
                "ec12f06270bbf61e",
                "7af3f8af2ed45534"
            ],
            [],
            []
        ]
    },
    {
        "id": "ec12f06270bbf61e",
        "type": "change",
        "z": "ed44aeff9a2ab45d",
        "g": "02a48fdef9c1a002",
        "name": "配置流参数",
        "rules": [
            {
                "t": "set",
                "p": "launch",
                "pt": "msg",
                "to": "hobot_falldown_detection hobot_falldown_detection.launch.py",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "insert",
                "pt": "msg",
                "to": "$join(['export CAM_TYPE=', msg.camera])",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 220,
        "wires": [
            [
                "0148012327e76b5e"
            ]
        ]
    },
    {
        "id": "0148012327e76b5e",
        "type": "rdk-tools checkexecute",
        "z": "ed44aeff9a2ab45d",
        "g": "02a48fdef9c1a002",
        "name": "执行姿态检测",
        "x": 860,
        "y": 260,
        "wires": [
            [
                "25b9d10aacf09601"
            ],
            [
                "25b9d10aacf09601"
            ]
        ]
    },
    {
        "id": "51c6dbd7058ff8ad",
        "type": "inject",
        "z": "ed44aeff9a2ab45d",
        "g": "02a48fdef9c1a002",
        "name": "关闭服务",
        "props": [
            {
                "p": "kill",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 220,
        "y": 300,
        "wires": [
            [
                "0148012327e76b5e"
            ]
        ]
    },
    {
        "id": "25b9d10aacf09601",
        "type": "debug",
        "z": "ed44aeff9a2ab45d",
        "g": "02a48fdef9c1a002",
        "name": "系统日志",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 260,
        "wires": []
    },
    {
        "id": "cf5df1e9ec0e45aa",
        "type": "inject",
        "z": "ed44aeff9a2ab45d",
        "g": "fa1ba96e2af824e3",
        "name": "打开浏览器",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "http://{host}:8000",
        "payloadType": "str",
        "x": 220,
        "y": 440,
        "wires": [
            [
                "9c647084cd8be9cf"
            ]
        ]
    },
    {
        "id": "9c647084cd8be9cf",
        "type": "rdk-tools openurl",
        "z": "ed44aeff9a2ab45d",
        "g": "fa1ba96e2af824e3",
        "name": "",
        "x": 400,
        "y": 440,
        "wires": []
    },
    {
        "id": "7af3f8af2ed45534",
        "type": "delay",
        "z": "ed44aeff9a2ab45d",
        "g": "fa1ba96e2af824e3",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 240,
        "y": 480,
        "wires": [
            [
                "de077b070163e6af"
            ]
        ]
    },
    {
        "id": "de077b070163e6af",
        "type": "change",
        "z": "ed44aeff9a2ab45d",
        "g": "fa1ba96e2af824e3",
        "name": "设定视频流",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ws://{host}:8000",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 480,
        "wires": [
            [
                "8f6e2bcfad0f757f"
            ]
        ]
    },
    {
        "id": "8f6e2bcfad0f757f",
        "type": "rdk-tools videows",
        "z": "ed44aeff9a2ab45d",
        "g": "fa1ba96e2af824e3",
        "name": "Web预览",
        "fps": "10",
        "width": "480",
        "active": true,
        "x": 420,
        "y": 520,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "d689de6a71262fda",
        "type": "inject",
        "z": "ed44aeff9a2ab45d",
        "g": "fe8b168a4d8a6535",
        "name": "检查更新",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 80,
        "wires": [
            [
                "177c8d3b13e1ff73"
            ]
        ]
    },
    {
        "id": "177c8d3b13e1ff73",
        "type": "rdk-tools smartupdate",
        "z": "ed44aeff9a2ab45d",
        "g": "fe8b168a4d8a6535",
        "name": "",
        "x": 380,
        "y": 80,
        "wires": [
            [
                "67e9da776a8bebda"
            ],
            []
        ]
    },
    {
        "id": "67e9da776a8bebda",
        "type": "change",
        "z": "ed44aeff9a2ab45d",
        "g": "fe8b168a4d8a6535",
        "name": "提示内容",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "环境检查完成",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 80,
        "wires": [
            [
                "dc9be7890d62dc38"
            ]
        ]
    },
    {
        "id": "dc9be7890d62dc38",
        "type": "rdk-tools texttoaudio",
        "z": "ed44aeff9a2ab45d",
        "g": "fe8b168a4d8a6535",
        "name": "",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "fd994182ce3a6406",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-rdk-tools": "0.0.27"
        }
    }
]